In [1]:
import pandas as pd

In [ ]:


read_file = pd.read_csv (r'dumpRawDataB3_B4.txt')
read_file.to_csv (r'dumpRawDataB3_B4.csv', index=None)

## clean up B3_B4

In [2]:
df_b3_b4 = pd.read_csv('dumpRawDataB3_B4.csv')
df_b3_b4.shape

(41546621, 7)

In [12]:
df_b3_b4.columns

Index(['_FileId', '_SegmentNr', 'Snelheid_EW', 'B3_Time_Based',
       'B4_Time_Based', 'lengthCoordinate', 'B3', 'B4'],
      dtype='object')

In [13]:
df_b3_b4['lengthCoordinate'] = pd.Series(dtype='float64')
df_b3_b4['B3'] = pd.Series(dtype='float64')
df_b3_b4['B4'] = pd.Series(dtype='float64')

df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B4_Time_Based,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,0.0,0.0,NaN,NaN,NaN
1,1651941735,1,6232.90,0.0,0.0,NaN,NaN,NaN
2,1651941735,2,6235.60,0.0,0.0,NaN,NaN,NaN
3,1651941735,3,6246.40,0.0,0.0,NaN,NaN,NaN
4,1651941735,4,6246.40,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,0.0,0.0,NaN,NaN,NaN
41546617,1138262426,2761,14688.09,0.0,0.0,NaN,NaN,NaN
41546618,1138262426,2762,14688.09,0.0,0.0,NaN,NaN,NaN
41546619,1138262426,2763,14655.11,0.0,0.0,NaN,NaN,NaN
41546620,1138262426,2764,14655.11,0.0,0.0,NaN,NaN,NaN

In [ ]:
df_b3_b4.drop(['B3_Abs_Plaus_Time', 'B4_Abs_Plaus_Time'], axis=1, inplace=True)
df_b3_b4

In [7]:
df_b3_b4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41546621 entries, 0 to 41546620
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   _FileId           int64
 1   _SegmentNr        int64
 2   Snelheid_EW       float64
 3   B3_Time_Based     float64
 4   B4_Time_Based     float64
 5   lengthCoordinate  float64
 6   B3                float64
 7   B4                float64
dtypes: float64(6), int64(2)
memory usage: 2.5 GB

In [15]:
df_b3_b4[['B3_Time_Based', 'B4_Time_Based']] = df_b3_b4[['B3_Time_Based', 'B4_Time_Based']].fillna(0)
df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B4_Time_Based,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,0.0,0.0,NaN,NaN,NaN
1,1651941735,1,6232.90,0.0,0.0,NaN,NaN,NaN
2,1651941735,2,6235.60,0.0,0.0,NaN,NaN,NaN
3,1651941735,3,6246.40,0.0,0.0,NaN,NaN,NaN
4,1651941735,4,6246.40,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,0.0,0.0,NaN,NaN,NaN
41546617,1138262426,2761,14688.09,0.0,0.0,NaN,NaN,NaN
41546618,1138262426,2762,14688.09,0.0,0.0,NaN,NaN,NaN
41546619,1138262426,2763,14655.11,0.0,0.0,NaN,NaN,NaN
41546620,1138262426,2764,14655.11,0.0,0.0,NaN,NaN,NaN

In [ ]:
for i in range(len(df_b3_b4)):
    df_b3_b4['B3'][i] = df_b3_b4['B3_Time_Based'][i] * 0.1
    df_b3_b4['B4'][i] = df_b3_b4['B4_Time_Based'][i] * 0.1

In [ ]:
df_b3_b4

## cleaning up B5

In [18]:
df_b5 = pd.read_csv('dumpRawDataB5.csv')
df_b5.shape

(45704740, 5)

In [19]:
df_b5['lengthCoordinate'] = pd.Series(dtype='float64')
df_b5['B5'] = pd.Series(dtype='float64')
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,NaN,NaN,NaN,NaN
1,1651763725,1,7306.740,NaN,NaN,NaN,NaN
2,1651763725,2,7311.600,NaN,NaN,NaN,NaN
3,1651763725,3,7311.870,NaN,NaN,NaN,NaN
4,1651763725,4,7313.490,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,NaN,NaN,NaN,NaN
45704736,1136233229,2550,8231.949,NaN,NaN,NaN,NaN
45704737,1136233229,2551,8245.800,NaN,NaN,NaN,NaN
45704738,1136233229,2552,8248.600,NaN,NaN,NaN,NaN
45704739,1136233229,2553,8253.463,NaN,NaN,NaN,NaN

In [20]:
df_b5 = df_b5.fillna(0)

df_b5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45704740 entries, 0 to 45704739
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   _FileId            int64
 1   _SegmentNr         int64
 2   Snelheid_HA        float64
 3   B5_Abs_Plaus_Time  float64
 4   B5_Time_Based      float64
 5   lengthCoordinate   float64
 6   B5                 float64
dtypes: float64(5), int64(2)
memory usage: 2.4 GB

In [8]:
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,0.0,0.0,0.0,0.0
1,1651763725,1,7306.740,0.0,0.0,0.0,0.0
2,1651763725,2,7311.600,0.0,0.0,0.0,0.0
3,1651763725,3,7311.870,0.0,0.0,0.0,0.0
4,1651763725,4,7313.490,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,0.0,0.0,0.0,0.0
45704736,1136233229,2550,8231.949,0.0,0.0,0.0,0.0
45704737,1136233229,2551,8245.800,0.0,0.0,0.0,0.0
45704738,1136233229,2552,8248.600,0.0,0.0,0.0,0.0
45704739,1136233229,2553,8253.463,0.0,0.0,0.0,0.0

In [ ]:
for i in range(len(df_b5)):
    if i == 1:
        df_b5['lengthCoordinate'] = df_b5['Snelheid_HA'] * 0.001 * 0.04
    elif i == 0:
        df_b5['lengthCoordinate'] = 0
    else:
        df_b5['lengthCoordinate'][i] = df_b5['lengthCoordinate'][i-1] + df_b5['Snelheid_HA'][i-1] * 0.001 * 0.04

In [23]:
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,0.0,0.0,0.292054,0.0
1,1651763725,1,7306.740,0.0,0.0,0.292270,0.0
2,1651763725,2,7311.600,0.0,0.0,0.584539,0.0
3,1651763725,3,7311.870,0.0,0.0,0.877003,0.0
4,1651763725,4,7313.490,0.0,0.0,1.169478,0.0
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,0.0,0.0,0.328670,0.0
45704736,1136233229,2550,8231.949,0.0,0.0,0.329278,0.0
45704737,1136233229,2551,8245.800,0.0,0.0,0.329832,0.0
45704738,1136233229,2552,8248.600,0.0,0.0,0.329944,0.0
45704739,1136233229,2553,8253.463,0.0,0.0,0.330139,0.0

In [24]:
df_b5.at[0, 'lengthCoordinate'] = 0

In [25]:
df_b5.columns

Index(['_FileId', '_SegmentNr', 'Snelheid_HA', 'B5_Abs_Plaus_Time',
       'B5_Time_Based', 'lengthCoordinate', 'B5'],
      dtype='object')

In [26]:
df_b5_new = df_b5[['_FileId', '_SegmentNr', 'Snelheid_HA', 'lengthCoordinate','B5', 'B5_Abs_Plaus_Time', 'B5_Time_Based']]

In [28]:
df_b5_new.to_csv('dataB5.csv', index=False)

In [ ]:
for i in range(len(df_b5_new)):
    df_b5_new['B5'][i] = df_b5_new['B5_Time_Based'][i] * 0.1
    print(df_b5_new)

In [ ]:
df_b5_new1 = df_b5_new.drop(['B5_Time_Based', 'B5_Abs_Plaus_Time', 'Snelheid_HA', '_SegmentNr'], axis=1)
df_b5_new1

## write preprocessed table B5 to csv

In [ ]:
df_b5_new1.to_csv('B5.csv', index=False)

In [ ]:
for i in range(len(df_b5_new1)):
    df_b5_new1['lengthCoordinate'][i] = df_b5_new1['lengthCoordinate'][i] * 100

In [49]:
df_b5_new1

             _FileId  lengthCoordinate   B5
0         1651763725          0.000000  0.0
1         1651763725         29.226960  0.0
2         1651763725         58.453920  0.0
3         1651763725         87.700320  0.0
4         1651763725        116.947800  0.0
...              ...               ...  ...
45704735  1136233229          0.328670  0.0
45704736  1136233229          0.329278  0.0
45704737  1136233229          0.329832  0.0
45704738  1136233229          0.329944  0.0
45704739  1136233229          0.330139  0.0

[45704740 rows x 3 columns]

## write each group in each csv file for B5 table

In [ ]:
for idx, row in df_b5_new1.groupby('_FileId'):
    row.to_csv('{}.csv'.format(idx), index=False)

In [ ]:
# to test groupby
# df_new = df_b5_new1.groupby('_FileId')
# df1 = df_new.get_group("1651763725")
# df1