In [2]:
import pandas as pd

In [ ]:


read_file = pd.read_csv (r'dumpRawDataB3_B4.txt')
read_file.to_csv (r'dumpRawDataB3_B4.csv', index=None)

## clean up B3_B4

In [5]:
df_b3_b4 = pd.read_csv('dumpRawDataB3_B4.csv')
df_b3_b4.shape

(41546621, 7)

In [6]:
df_b3_b4.columns

Index(['_FileId', '_SegmentNr', 'Snelheid_EW', 'B3_Time_Based',
       'B3_Abs_Plaus_Time', 'B4_Time_Based', 'B4_Abs_Plaus_Time'],
      dtype='object')

In [7]:
df_b3_b4['lengthCoordinate'] = pd.Series(dtype='float64')
df_b3_b4['B3'] = pd.Series(dtype='float64')
df_b3_b4['B4'] = pd.Series(dtype='float64')

df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B3_Abs_Plaus_Time,B4_Time_Based,B4_Abs_Plaus_Time,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1651941735,1,6232.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1651941735,2,6235.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1651941735,3,6246.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1651941735,4,6246.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41546617,1138262426,2761,14688.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41546618,1138262426,2762,14688.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41546619,1138262426,2763,14655.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41546620,1138262426,2764,14655.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_b3_b4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41546621 entries, 0 to 41546620
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   _FileId            int64
 1   _SegmentNr         int64
 2   Snelheid_EW        float64
 3   B3_Time_Based      float64
 4   B3_Abs_Plaus_Time  float64
 5   B4_Time_Based      float64
 6   B4_Abs_Plaus_Time  float64
 7   lengthCoordinate   float64
 8   B3                 float64
 9   B4                 float64
dtypes: float64(8), int64(2)
memory usage: 3.1 GB

In [9]:
df_b3_b4[['B3_Time_Based', 'B4_Time_Based']] = df_b3_b4[['B3_Time_Based', 'B4_Time_Based']].fillna(0)
df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B3_Abs_Plaus_Time,B4_Time_Based,B4_Abs_Plaus_Time,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,0.0,NaN,0.0,NaN,NaN,NaN,NaN
1,1651941735,1,6232.90,0.0,NaN,0.0,NaN,NaN,NaN,NaN
2,1651941735,2,6235.60,0.0,NaN,0.0,NaN,NaN,NaN,NaN
3,1651941735,3,6246.40,0.0,NaN,0.0,NaN,NaN,NaN,NaN
4,1651941735,4,6246.40,0.0,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546617,1138262426,2761,14688.09,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546618,1138262426,2762,14688.09,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546619,1138262426,2763,14655.11,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546620,1138262426,2764,14655.11,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [ ]:
for i in range(len(df_b3_b4)):
    df_b3_b4['B3'][i] = df_b3_b4['B3_Time_Based'][i] * 0.1
    df_b3_b4['B4'][i] = df_b3_b4['B4_Time_Based'][i] * 0.1

In [11]:
df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B3_Abs_Plaus_Time,B4_Time_Based,B4_Abs_Plaus_Time,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,0.0,NaN,0.0,NaN,NaN,0.0,0.0
1,1651941735,1,6232.90,0.0,NaN,0.0,NaN,NaN,0.0,0.0
2,1651941735,2,6235.60,0.0,NaN,0.0,NaN,NaN,0.0,0.0
3,1651941735,3,6246.40,0.0,NaN,0.0,NaN,NaN,0.0,0.0
4,1651941735,4,6246.40,0.0,NaN,0.0,NaN,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546617,1138262426,2761,14688.09,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546618,1138262426,2762,14688.09,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546619,1138262426,2763,14655.11,0.0,NaN,0.0,NaN,NaN,NaN,NaN
41546620,1138262426,2764,14655.11,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [ ]:
# get the lengthCoordinate
for i in range (len(df_b3_b4)):
    if i == 1:
        df_b3_b4['lengthCoordinate'] =  df_b3_b4['Snelheid_EW'] * 0.001 * 0.04
    elif i == 0:
        df_b3_b4['lengthCoordinate'] = 0
    else:
        df_b3_b4['lengthCoordinate'][i] = df_b3_b4['lengthCoordinate'][i-1] + df_b3_b4['Snelheid_EW'][i-1] * 0.001 * 0.04

In [21]:
df_b3_b4.fillna({'B3_Abs_Plaus_Time': 0, 'B4_Abs_Plaus_Time': 0}, inplace=True)

In [22]:
df_b3_b4

,_FileId,_SegmentNr,Snelheid_EW,B3_Time_Based,B3_Abs_Plaus_Time,B4_Time_Based,B4_Abs_Plaus_Time,lengthCoordinate,B3,B4
0,1651941735,0,6232.90,0.0,0.0,0.0,0.0,0.249316,0.0,0.0
1,1651941735,1,6232.90,0.0,0.0,0.0,0.0,0.249316,0.0,0.0
2,1651941735,2,6235.60,0.0,0.0,0.0,0.0,0.498632,0.0,0.0
3,1651941735,3,6246.40,0.0,0.0,0.0,0.0,0.748056,0.0,0.0
4,1651941735,4,6246.40,0.0,0.0,0.0,0.0,0.997912,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
41546616,1138262426,2760,14738.51,0.0,0.0,0.0,0.0,0.589540,NaN,NaN
41546617,1138262426,2761,14688.09,0.0,0.0,0.0,0.0,0.587524,NaN,NaN
41546618,1138262426,2762,14688.09,0.0,0.0,0.0,0.0,0.587524,NaN,NaN
41546619,1138262426,2763,14655.11,0.0,0.0,0.0,0.0,0.586204,NaN,NaN
41546620,1138262426,2764,14655.11,0.0,0.0,0.0,0.0,0.586204,NaN,NaN

In [1]:
df_b3_b4.dtypes

NameError: name 'df_b3_b4' is not defined

## write test data to csv for B3_$

In [23]:
df_b3_b4.to_csv('dataB3_4_test.csv', index=False)

In [25]:
df_small_b34 = pd.read_csv('dataB3_4_test.csv', nrows=10000)

df_small_b34.to_csv('dataB34_test_10k_data.csv', index=False)

## cleaning up B5

In [8]:
df_b5 = pd.read_csv('dumpRawDataB5.csv')
df_b5.shape

(45704740, 5)

In [24]:
df_b5['lengthCoordinate'] = pd.Series(dtype='float64')
df_b5['B5'] = pd.Series(dtype='float64')
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,0.0,0.0,NaN,NaN
1,1651763725,1,7306.740,0.0,0.0,NaN,NaN
2,1651763725,2,7311.600,0.0,0.0,NaN,NaN
3,1651763725,3,7311.870,0.0,0.0,NaN,NaN
4,1651763725,4,7313.490,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,0.0,0.0,NaN,NaN
45704736,1136233229,2550,8231.949,0.0,0.0,NaN,NaN
45704737,1136233229,2551,8245.800,0.0,0.0,NaN,NaN
45704738,1136233229,2552,8248.600,0.0,0.0,NaN,NaN
45704739,1136233229,2553,8253.463,0.0,0.0,NaN,NaN

In [20]:
df_b5 = df_b5.fillna(0)

df_b5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45704740 entries, 0 to 45704739
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   _FileId            int64
 1   _SegmentNr         int64
 2   Snelheid_HA        float64
 3   B5_Abs_Plaus_Time  float64
 4   B5_Time_Based      float64
 5   lengthCoordinate   float64
 6   B5                 float64
dtypes: float64(5), int64(2)
memory usage: 2.4 GB

In [8]:
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,0.0,0.0,0.0,0.0
1,1651763725,1,7306.740,0.0,0.0,0.0,0.0
2,1651763725,2,7311.600,0.0,0.0,0.0,0.0
3,1651763725,3,7311.870,0.0,0.0,0.0,0.0
4,1651763725,4,7313.490,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,0.0,0.0,0.0,0.0
45704736,1136233229,2550,8231.949,0.0,0.0,0.0,0.0
45704737,1136233229,2551,8245.800,0.0,0.0,0.0,0.0
45704738,1136233229,2552,8248.600,0.0,0.0,0.0,0.0
45704739,1136233229,2553,8253.463,0.0,0.0,0.0,0.0

In [ ]:
for i in range(len(df_b5)):
    if i == 1:
        df_b5['lengthCoordinate'] = df_b5['Snelheid_HA'] * 0.001 * 0.04
    elif i == 0:
        df_b5['lengthCoordinate'] = 0
    else:
        df_b5['lengthCoordinate'][i] = df_b5['lengthCoordinate'][i-1] + df_b5['Snelheid_HA'][i-1] * 0.001 * 0.04

In [26]:
df_b5

,_FileId,_SegmentNr,Snelheid_HA,B5_Abs_Plaus_Time,B5_Time_Based,lengthCoordinate,B5
0,1651763725,0,7301.340,0.0,0.0,0.292054,NaN
1,1651763725,1,7306.740,0.0,0.0,0.292270,NaN
2,1651763725,2,7311.600,0.0,0.0,0.584539,NaN
3,1651763725,3,7311.870,0.0,0.0,0.877003,NaN
4,1651763725,4,7313.490,0.0,0.0,1.169478,NaN
...,...,...,...,...,...,...,...
45704735,1136233229,2549,8216.750,0.0,0.0,0.328670,NaN
45704736,1136233229,2550,8231.949,0.0,0.0,0.329278,NaN
45704737,1136233229,2551,8245.800,0.0,0.0,0.329832,NaN
45704738,1136233229,2552,8248.600,0.0,0.0,0.329944,NaN
45704739,1136233229,2553,8253.463,0.0,0.0,0.330139,NaN

In [27]:
df_b5.at[0, 'lengthCoordinate'] = 0

In [28]:
df_b5_new = df_b5[['_FileId', '_SegmentNr', 'Snelheid_HA', 'lengthCoordinate','B5', 'B5_Abs_Plaus_Time', 'B5_Time_Based']]

In [ ]:
for i in range(len(df_b5_new)):
    df_b5_new['B5'][i] = df_b5_new['B5_Time_Based'][i] * 0.1

In [30]:
df_b5_new = df_b5_new.rename(columns={'lengthCoordinate': 'lengthCoordinateB5'}, inplace=False)

In [31]:
df_b5_new.to_csv('dataB5.csv', index=False)

In [4]:

df_small = pd.read_csv('dataB5_test.csv', nrows=10000)

df_small.to_csv('dataB5_test_10k_data.csv', index=False)

## write each group in each csv file for B5 table

In [ ]:
for idx, row in df_b5_new.groupby('_FileId'):
    row.to_csv('{}.csv'.format(idx), index=False)

In [ ]:
# to test groupby
# df_new = df_b5_new1.groupby('_FileId')
# df1 = df_new.get_group("1651763725")
# df1